@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato/Lato-Regular.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/Lato/Lato-Bold.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/Lato/Lato-Light.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato/Lato-Black.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
    box-sizing: border-box;
    font-weight: normal;
}

.container {
	max-width: 1020px;
	width: 100%;
	padding: 0 40px;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

header:after, section:after {
    content: "";
    height: 6px;
    display: block;
}

/*header*/

header {
    background-color: #2d303a;
    text-transform: uppercase;
}

header .container {
    display: flex;
    padding-top: 29px;
    padding-bottom: 29px;
    justify-content: space-between;
    align-items: center;
}

header:after {
    background-color: #323746;
}

header .logo {
    color: #ececed;
    font-family: "Lato-Bold";
    font-size: 25px;
    letter-spacing: -0.03em;
}

header .logo .logo-red {
    color: #f06c64;
}

header nav {
    margin-top: 9px;
}

header nav a {
    color: #ffffff;
    font-family: "Lato-Bold";
    letter-spacing: -0.02em;
    font-size: 12px;
    margin-left: 26px;
}

header nav a:hover {
    color: #f06c64;
}

/*slider*/

section.slider {
    background-color: #f06c64;
}

section.slider .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 53px 42px 58px;
}

section.slider .container .slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.slider .container .slide .slide-image {
    margin: 0 36px;
}

section.slider:after {
    background-color: #ea676b;
}

section.slider .container .slider-arrow:hover {
    opacity: 0.6;
}

/*services*/
section.services {
    background-color: #f2f2f2;
}

section.services .container {
    color: #666d89;
    padding-top: 60px;
    padding-bottom: 60px;
}

section.services .container .title {
    font-family: 'Lato-Black';
    font-size: 30px;
}

section.services .container .description {
    padding-top: 18px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #767e9e;
    line-height: 1.65em;
    text-align: justify;
}

section.services .services-items-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    justify-content: space-between;
}

section.services .services-items-container .services-item {
    display: flex;
    align-items: flex-start;
    height: 90px;
    width: 300px;
    overflow: hidden;
    margin-top: 33px;
}

section.services .services-items-container .item-description {
    padding-left: 20px;
}

section.services .services-items-container .item-description h3 {
    font-family: 'Lato-Black';
    font-size: 18px;
    letter-spacing: -0.01em
}

section.services .services-items-container .item-description p {
    text-align: justify;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 1.8em;
    color: #767e9e;
    padding-top: 8px;
}

section.services .services-items-container .item-icon {
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #666d89;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3px;
}

section.services .services-items-container .item-icon.pen {
    background-image: url("./assets/images/pen.png");
}

section.services .services-items-container .item-icon.bulb {
    background-image: url("./assets/images/bulb.png");
}

section.services .services-items-container .item-icon.heart {
    background-image: url("./assets/images/heart.png");
}

section.services .services-items-container .item-icon.phone {
    background-image: url("./assets/images/phone.png");
}

section.services .services-items-container .item-icon.bubble {
    background-image: url("./assets/images/bubble.png");
}

section.services .services-items-container .item-icon.star {
    background-image: url("./assets/images/star.png");
}

section.services:after {
    background-color: #ffffff;
}
