@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato/Lato-Regular.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/Lato/Lato-Bold.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/Lato/Lato-Light.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato/Lato-Black.woff') format('woff'),
         url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

* {
    font-family: sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
    box-sizing: border-box;
    font-weight: normal;
}

.container {
	max-width: 1020px;
	width: 100%;
	padding: 0 40px;
    margin: 0 auto;
}

a {
	text-decoration: none;
}

header:after, section:after {
    content: "";
    height: 6px;
    display: block;
}

/*header*/

header {
    background-color: #2d303a;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .modal-cover {
    display: none;
}

header .container {
    display: flex;
    padding-top: 29px;
    padding-bottom: 29px;
    justify-content: space-between;
    align-items: center;
}

header .container .burger-btn {
    background-color: #2d303a;
    cursor: pointer;
    outline: none;
    border: 0;
    display: none;
    position: absolute;
    top: 27px;
    left: 21px;
    transition: all .5s;
}

header:after {
    background-color: #323746;
}

header .logo {
    color: #ececed;
    font-family: "Lato-Bold";
    font-size: 25px;
    letter-spacing: -0.03em;
    transition: all .5s;
}

header .logo .logo-red {
    color: #f06c64;
}

header nav {
    margin-top: 9px;
    transition: all .5s;
}

header nav a {
    position: relative;
    color: #ffffff;
    font-family: "Lato-Bold";
    letter-spacing: -0.02em;
    font-size: 12px;
    margin-left: 26px;
}

header nav a:before {
    content: ".";
    color: #494e62;
    font-weight: 900;
    display: block;
    left: -16px;
    top: -2px;
    position: absolute;
}

header nav a:first-of-type:before {
    visibility: hidden;
}


header nav a.active {
    color: #f06c64;
}

/*slider*/
section.slider {
    padding-top: 93px;
    overflow: hidden;
}

section.slider .slider-wrapper {
    position: relative;
    display: flex;
    top: 0;
    left: 0; 
}

section.slider .slide.slide-1 {
    background-color: #f06c64;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #ea676b; 
}

section.slider .slide  {
    position: relative;
    min-width: 100%;
    display: none;
    animation: 0.5s ease-in-out;
}

section.slider .slide.active,
section.slider .slide.next {
    display: block;
}

section.slider .slide.next {
    position: absolute;
    top: 0;
    width: 100%;
}

section.slider .slide.to-left {
    animation-name: left;
}

section.slider .slide.from-right {
    animation-name: right;
}

section.slider .slide.to-right {
    animation-name: right;
    animation-direction: reverse;
}

section.slider .slide.from-left {
    animation-name: left;
    animation-direction: reverse;
}

section.slider .slide-1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: calc(1020px * 0.583);
}

section.slider .slide-2 {
    background-color: #648BF0;
    border-bottom: 6px solid #648BF0; 
}

section.slider .slide.slide-2 .container {
    background-image: url('./assets/images/Slide-2.png');
    width: 100%;
    padding-bottom: calc(1020px * 0.583);
    background-position: center;
    background-size: cover;
}

section.slider .slide .slide-image {
    margin: 0 36px;
    position: relative;
}

section.slider .iphone-vertical-screen.hidden, section.slider .iphone-horizontal-screen.hidden {
    opacity: 0;
} 


section.slider .iphone-vertical-shadow, section.slider .iphone-horizontal-shadow {
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
}

section.slider .iphone-vertical-shadow {
    width: calc(1020px * 0.2353);
    background-image: url('./assets/images/iPhone Vertical shadow.png');
    padding-bottom: calc(100% * 2.0125);
}

section.slider .iphone-horizontal-shadow {
    width: calc(1020px * 0.4735);
    background-image: url('./assets/images/iPhone Horizontal shadow.png');
    padding-bottom: calc(100% * 0.4969);
}


section.slider .iphone-vertical-base, section.slider .iphone-horizontal-base {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

section.slider .iphone-vertical-base {
    width: calc(1020px * 0.2117);
    background-image: url(./assets/images/iPhone\ Vertical\ Base.png);
    padding-bottom: calc(1020px * 0.2117 * 2.1204);
}

section.slider .iphone-horizontal-base {
    width: calc(1020px * 0.4490);
    background-image: url('./assets/images/iPhone\ Horizontal\ Base.png');
    padding-bottom: calc(1020px * 0.4490 * 0.4716);
}

section.slider .slide-1 .iphone-vertical-screen {
    position: absolute;
    top: 13.5%;
    left: 6%;
    width: calc(1020px * 0.1843);
    padding-bottom: calc(1020px * 0.1843 * 1.7713);
    background-image: url('./assets/images/iPhone\ Vertical\ Screen.png');
    background-size: contain;
    background-repeat: no-repeat;
}

section.slider .slide-1 .iphone-horizontal-screen {
    position: absolute;
    top: 6%;
    left: 12.5%;
    width: calc(1020px * 0.3265);
    padding-bottom: calc(1020px * 0.3265 * 0.5646);
    background-image: url('./assets/images/iPhone\ Horizontal\ Screen.png');
    background-size: contain;
    background-repeat: no-repeat;
}

section.slider:after {
    display: none;
}

section.slider .slider-arrow {
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    top: 50% ;
    transform: translateY(-50%);
}

section.slider .slider-arrow.left {
    left: calc((100% - 1020px) / 2 + 40px);
}

section.slider .slider-arrow.right {
    right: calc((100% - 1020px) / 2 + 40px);
}

/*services*/
section.services {
    background-color: #f2f2f2;
}

section.services .container {
    color: #666d89;
    padding-top: 60px;
    padding-bottom: 65px;
}

section.services .container .title {
    font-family: 'Lato-Black';
    font-size: 30px;
}

section.services .container .description {
    padding-top: 17px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #767e9e;
    line-height: 1.7em;
    text-align: justify;
}

section.services .services-items-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-between;
}

section.services .services-items-container .services-item {
    display: flex;
    align-items: flex-start;
    height: 90px;
    width: 300px;
    overflow: hidden;
    margin-top: 33px;
}

section.services .services-items-container .item-description {
    padding-left: 20px;
}

section.services .services-items-container .item-description h3 {
    font-family: 'Lato-Black';
    font-size: 18px;
    letter-spacing: -0.01em
}

section.services .services-items-container .item-description p {
    text-align: justify;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 1.8em;
    color: #767e9e;
    padding-top: 8px;
}

section.services .services-items-container .item-icon {
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #666d89;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3px;
}

section.services .services-items-container .item-icon.pen {
    background-image: url("./assets/images/pen.png");
}

section.services .services-items-container .item-icon.bulb {
    background-image: url("./assets/images/bulb.png");
}

section.services .services-items-container .item-icon.heart {
    background-image: url("./assets/images/heart.png");
}

section.services .services-items-container .item-icon.phone {
    background-image: url("./assets/images/phone.png");
}

section.services .services-items-container .item-icon.bubble {
    background-image: url("./assets/images/bubble.png");
}

section.services .services-items-container .item-icon.star {
    background-image: url("./assets/images/star.png");
}

section.services:after {
    background-color: #ffffff;
}

/*portfolio*/
section.portfolio {
    background-color: #2d303a;
}

section.portfolio .container {
    color: #666d89;
    padding-top: 59px;
    padding-bottom: 35px;
}

section.portfolio .container .title {
    font-family: 'Lato-Black';
    font-size: 30px;
    letter-spacing: -0.01em;
}

section.portfolio .container .description {
    padding-top: 18px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #767e9e;
    line-height: 1.65em;
    text-align: justify;
}

section.portfolio .portfolio-menu {
    padding-top: 11px;
    margin-left: -3px;
}

section.portfolio .portfolio-menu button {
    color: #767e9e;
    font-family: 'Lato-Regular';
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 3px 6px;
    margin-left: 5px;
    background-color: #2d303a;
    cursor: pointer;
    outline: none;
}

section.portfolio .portfolio-menu button.active {
    color: #dedede;
    border: 1px solid #dedede;
    cursor: auto;
}

section.portfolio .portfolio-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 17px -14px;
}

section.portfolio .portfolio-image {
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    transition: all .2s;
    flex: 1 0 20%;
    padding-bottom: 18.8%;
    background-size: cover;
}

section.portfolio .portfolio-image.active {
    box-shadow: inset 0 0 0 5px #F06C64;
}

section.portfolio .portfolio-image.pi-1 {
    background-image: url(./assets/images/image1.png);
}

section.portfolio .portfolio-image.pi-2 {
    background-image: url(./assets/images/image2.png);
}

section.portfolio .portfolio-image.pi-3 {
    background-image: url(./assets/images/image3.png);
}

section.portfolio .portfolio-image.pi-4 {
    background-image: url(./assets/images/image4.png);
}

section.portfolio .portfolio-image.pi-5 {
    background-image: url(./assets/images/image5.png);
}

section.portfolio .portfolio-image.pi-6 {
    background-image: url(./assets/images/image6.png);
}

section.portfolio .portfolio-image.pi-7 {
    background-image: url(./assets/images/image7.png);
}

section.portfolio .portfolio-image.pi-8 {
    background-image: url(./assets/images/image8.png);
}

section.portfolio .portfolio-image.pi-9 {
    background-image: url(./assets/images/image9.png);
}

section.portfolio .portfolio-image.pi-10 {
    background-image: url(./assets/images/image10.png);
}

section.portfolio .portfolio-image.pi-11 {
    background-image: url(./assets/images/image11.png);
}

section.portfolio .portfolio-image.pi-12 {
    background-image: url(./assets/images/image12.png);
}

section.portfolio .portfolio-images-container .portfolio-image:nth-of-type(n+13) {
    display: none;
}

section.portfolio:after {
    background-color: #323746;
}

/*about us*/
section.about-us {
    background-color: #f2f2f2;
}

section.about-us .container .title {
    font-family: 'Lato-Black';
    font-size: 30px;
    color: #666d89;
    letter-spacing: -0.01em;
}

section.about-us .container {
    padding-top: 59px;
    padding-bottom: 22px;
}

section.about-us .container .description {
    padding-top: 18px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #767e9e;
    line-height: 1.65em;
    text-align: justify;
}

section.about-us .container .description {
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #767e9e;  
}

section.about-us .about-us-items-container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 46px 0;
    margin: 0 -1%;
}

section.about-us .about-us-item {
    max-width: 300px;
    margin: 0 1%;
}

section.about-us .about-us-item .about-us-item-photo {
    width: 100%;
    padding-bottom: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

section.about-us .about-us-item .about-us-item-photo.photo-1 {
    background-image: url("./assets/images/adam.png");
}

section.about-us .about-us-item .about-us-item-photo.photo-2 {
    background-image: url("./assets/images/desmond.png");
}

section.about-us .about-us-item .about-us-item-photo.photo-3 {
    background-image: url("./assets/images/scolara.png");
}

section.about-us .about-us-item .item-description {
    padding-top: 16px;
}

section.about-us .about-us-item .item-description h3 {
    font-family: 'Lato-Black';
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #666d89;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section.about-us .about-us-item .item-description p {
    text-align: justify;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 1.8em;
    color: #767e9e;
    padding-top: 9px;
    letter-spacing: -0.005em;
}

section.about-us .about-us-item .about-us-item-links {
    padding-top: 24px;
    display: flex;
}

section.about-us .about-us-item .about-us-item-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e9e;
    border-radius: 50%;
    padding: 7px;
    margin-right: 9px;
}

section.about-us .about-us-item .about-us-item-links a svg {
    width: 15px;
    height: 15px;
    color: #767e9e;
}

section.about-us .about-us-item .about-us-item-links a svg path { 
    fill: #767e9e;;
}

section.about-us:after {
    background-color: #ffffff;
}

/*quote*/
section.quote {
    background: #f06c64;
}

section.quote:after {
    background: #ea676b;
}

section.quote .container {
    padding-top: 59px;
    padding-bottom: 24px;
}

section.quote .container .title {
    font-family: 'Lato-Black';
    font-size: 30px;
    letter-spacing: -0.01em;
    color: #f0d8d9;
}

section.quote .container .description {
    padding-top: 18px;
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #f0d8d9;
    line-height: 1.65em;
    text-align: justify;
}

section.quote .quote-main {
    padding-top: 28px;
    display: flex;
}

section.quote .quote-main form.quote-item {
    width: 66%;
    padding-top: 3px;
}

section.quote form input, section.quote form textarea {
    background: #d6564f;
    border: none;
    border-radius: 5px;
    width: 100%;
    color: #f0d8d9;
    font-size: 12px;
    font-family: 'Lato-Regular';
    outline: none;
    padding-left: 14px;
}

section.quote form input {
    height: 38px;
    margin-top: 15px;
}

section.quote form input:focus:invalid {
    border: 1px solid #B22222;
    color: #B22222;
}

section.quote form textarea {
    margin-top: 17px;
    height: 202px;
    padding-top: 11px;
    resize: none;
}

::placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato-Regular';
}

section.quote form .submit-button, .modal button {
    display: block;
    background: #FBC65F;
    color: #886A30;
    font-size: 14px;
    font-family: 'Lato-Bold';
    border: none;
    border-radius: 5px;
    padding: 14px 50px 10px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    margin: 11px 0;
}


section.quote .quote-main .quote-item.contacts h3 {
    font-family: 'Lato-Black';
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #f0d8d9;
}

section.quote .quote-main .quote-item.contacts {
    width: 34%;
    padding-left: 20px;
    margin-top: 15px;
}

section.quote .quote-main .quote-item.contacts p {
    text-align: justify;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 1.8em;
    color: #f0d8d9;
    letter-spacing: -0.005em;
    padding-top: 10px;
}

section.quote .quote-main .quote-item.contacts p {
    padding-top: 10px;   
}

section.quote .quote-main .quote-item.contacts ul {
    padding-top: 25px;   
}

section.quote .quote-main .quote-item.contacts ul li:first-of-type a {
    padding: 0 2px;
}

section.quote .quote-main .quote-item.contacts ul .text {
    padding-left: 10px;
    letter-spacing: 0.006em;
    font-family: 'Lato-Regular';
    line-height: 1.8em;
    font-size: 12px;
    color: #f0d8d9;
}

/*footer*/
footer {
    background: #2d303a;
    color: #666d89;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lato-Regular';
    font-size: 12px;
    padding-top: 23px;
    padding-bottom: 23px;
}

footer .media {
    display: flex;
}

footer .media a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666d89;
    border-radius: 50%;
    padding: 7px;
    margin-left: 9px;
}


footer .media a svg {
    width: 15px;
    height: 15px;
    color: #767e9e;
}

footer .media a svg path { 
    fill: #666d89;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background: #2D303A;
    opacity: 0.6;
}

.modal.hidden {
    display: none;
}

.modal-window {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#fcf4f2;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Lato-Regular';
    line-height: 1.8em;
    font-size: 16px;
    color: #E8A2A2;
    max-width: 40%;
}

.modal h3, .modal span {
    color: #B22222;
    border-bottom: 1px solid #E8A2A2;
    word-break: break-word;
}

.modal p {
    padding-top: 15px;
    text-align: left;
}

@media(max-width: 1019px) {

    header nav {
        margin-top: 0.5%;
    }

    section.slider .slide.slide-2 .container {
        padding-bottom: calc(100vw * 0.583);
    }

    section.portfolio .container .description {
        padding-right: 6%;
    }

    section.slider .slide-1 .container {
        height: calc(100vw * 0.583);
    }

    section.slider .slide-1 .slide-image {
        margin: 0 3.5%;
    }

    section.slider .iphone-horizontal-shadow {
        width: calc(100vw * 0.4735);
    }

    section.slider .iphone-vertical-shadow {
        width: calc(100vw * 0.2353);
    }
    
    section.slider .iphone-vertical-base {
        width: calc(100vw * 0.2118);
        padding-bottom: calc(100vw * 0.2117 * 2.1204)
    }

    section.slider .iphone-horizontal-base {
        width: calc(100vw * 0.4490);
        padding-bottom: calc(100vw * 0.4490 * 0.4716)
    }

    section.slider .slide-1 .iphone-vertical-screen {
        width: calc(100vw * 0.1843);
        padding-bottom: calc(100vw * 0.1843 * 1.7713);
    }

    section.slider .slide-1 .iphone-horizontal-screen {
        width: calc(100vw * 0.3265);
        padding-bottom: calc(100vw * 0.3265 * 0.5646);
    }

    section.slider .slider-arrow.left {
        left: 4%;
    }
    
    section.slider .slider-arrow.right {
        right: 4%;
    }

    section.services .container {
        padding-top: 5.34%;
        padding-bottom: 5.73%;
    }

    section.services .services-items-container {
        padding-top: 4px;
    }

    section.services .services-items-container .services-item {
        margin-top: 4%;
        margin-bottom: 4%;
        margin-right: 5%;
    }

    section.portfolio .portfolio-image {
        flex: 1 0 25%;
        padding-bottom: 24.5%;
    }

    section.about-us .about-us-items-container {
        padding: 5.5% 0;
    }

    section.about-us .container {
        padding-top: 7%;
        padding-bottom: 4%;
    }

    section.about-us .about-us-item .item-description {
        padding-top: 5%;
    }

    section.about-us .about-us-item .item-description p {
        padding-top: 1%;
    }

    section.about-us .about-us-item .about-us-item-links {
        padding-top: 5%;
    }

    section.quote .container {
        padding-top: 7%;
    }

    section.quote .quote-main {
        padding-top: 1%;
    }

    section.quote .quote-main form.quote-item {
        width: 64%;
    }

    section.quote .quote-main .quote-item.contacts {
        width: 34%;
        padding-left: 4%;
    }

    section.quote form input {
        margin-top: 3%;
    }

    section.quote form textarea {
        margin-top: 3%;
        height: 161px;
    }

    section.quote .quote-main .quote-item.contacts p {
        padding-top: 1%;
    }

    section.quote .quote-main .quote-item.contacts ul {
        padding-top: 5%;
    }
} 


@media(max-width: 767px) {
    .container {
        padding: 0 30px;
    }

    header .container {
        position: relative;
        padding-top: 25px;
        padding-bottom: 16px;
    }

    header .container .burger-btn {
        display: block;
    }
    
    header .logo {
        font-size: 20px;
        margin: 0 calc((100% - 83px)/2);;
        transition: all .5s;
    }

    header.burger .logo {
        margin-left: 41px;
        z-index: 1;
        transition: all .5s;
    }

    header.burger .container .burger-btn {
        transform: rotate(90deg);
        z-index: 1;
    }

    header nav {
        width: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0px;
        bottom: 0;
        left: 0;
        justify-content: center;
        background: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        margin-top: 0;
        transition: all .5s;
    }

    header nav a {
        display: none;
    }

    header.burger nav {
        padding-left: 71px;
        width: 278px;
    }

    header.burger .modal-cover {
        z-index: 0;
        top: 0;
        display: block;
    }

    header.burger nav a {
        font-size: 24px;
        margin: 14px 0;
        display: block;
    }

    header.burger nav a:first-of-type {
        margin-top: 148px;
    }

    header.burger nav a:before {
        display: none;
    }

    section.slider {
        padding-top: 72px;
    }

    section.slider .slider-arrow.left {
        left: 2%;
    }
    
    section.slider .slider-arrow.right {
        right: 2%;
    }

    section.services .container .description {
        letter-spacing: 0.01em;
    }

    section.services .services-items-container {
        margin: 0;
    }

    section.services .services-items-container .services-item {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    section.services .container {
        padding-bottom: 1%;
    }

    section.services .services-items-container .services-item {
        margin-right: calc((100% - 300px) / 2);
    }

    section.portfolio .container {
        padding-top: 42px;
        padding-bottom: 5px;
    }

    section.portfolio .portfolio-image {
        flex: 1 0 40%;
        padding-bottom: 38.5%;
        margin: 7px;
    }

    section.portfolio .portfolio-images-container .portfolio-image:nth-of-type(n+9) {
        display: none;
    }

    section.portfolio .portfolio-images-container {
        margin: 21px -10px;
    }

    section.about-us .container {
        padding-top: 9%;
        padding-bottom: 3.2%;
    }

    section.about-us .container .description {
        letter-spacing: 0.01em;
    }

    section.about-us .about-us-items-container {
        padding: 10px 0;
    }

    section.about-us .about-us-item .about-us-item-links {
        padding-top: 3%;
    }

    section.about-us .about-us-item {
        margin: 5.5% 1%;
    }

    section.about-us .about-us-items-container {
        justify-content: space-between;
        align-content: flex-start;
        flex-direction: column;
        margin: 0;
    }
    
    section.about-us .about-us-item {
        min-width: 100%;
        margin: 5.5% 1%;
    }

    section.quote .container {
        padding-top: 11%;
        padding-bottom: 10%;
    }

    section.quote .container .description {
        letter-spacing: 0.01em;
    }

    section.quote .quote-main {
        padding-top: 4%;
        flex-direction: column;
    }

    section.quote .quote-main form.quote-item {
        width: 100%;
    }

    section.quote form input {
        margin-top: 4%;
    }

    section.quote form .submit-button, .modal button {
        padding: 15px 50px 15px;
        width: 100%;
    }

    section.quote .quote-main .quote-item.contacts {
        width: 100%;
        margin-top: 18px;
        padding-left: 0px;
    }

    footer .container {
        justify-content: center;
    }

    footer .footer-item.copyright {
        display: none;
    }

    .modal-window {
        max-width: 80%;
    }

}

@media (hover: hover) {
    section.slider .slider-arrow:hover {
        opacity: 0.6;
    }
    
    nav a:hover  {
        color: #f06c64;
    }

    section.portfolio .portfolio-menu button:hover {
        color: #dedede;
        border: 1px solid #dedede;
    }

    section.about-us .about-us-item .about-us-item-links a:hover {
        opacity: 0.6;
    }

    section.quote form .submit-button:hover, .modal button:hover {
        opacity: .6;
    }

    footer .media a:hover {
        opacity: .6;
    }

    header .container .burger-btn:hover {
        opacity: .6;
    }

}
